<script src="/js/bounce.js" type="text/javascript"></script>
<link href="/css/contest.css" rel="stylesheet">
<% content_for :title do %>
  <%= @contest.name %>
<% end %>

<div class="container">
  <div class="col-lg-12 text-center">
    <h1 class="page-header"><%= @contest.name %></h1>
    <%= initial_simple_searh_form %>
  </div>
  <div class="row" id='photos_container'>
    <%= render(partial: 'photo_set', collection: @initial_photos_set, as: :photo ) %>
  </div>
  <%= initial_loading_link %>
</div>

<% content_for :footer_js do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#number').mask('00000');
    });
  </script>
<% end %>