
<link href="/css/cover.css" rel="stylesheet">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Marathon</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <!-- <li class="active"><a href="#">首頁</a></li> -->
                  <li><%= link_to "所有賽事", contests_path %></li>
                  <li><%= link_to "查詢", search_contests_path %></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Search your photo.</h1>
            <table class="table">
              <tbody>
                <% @contests = Contest.all.limit(3) %>
                <% @contests.each_with_index do |contest, index| %>
                  <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= link_to(contest.name, contest_path(contest)) %></td>
                    <td><%= contest.place %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
              <%= link_to "Check out more", contests_path, class: "btn btn-lg btn-default" %>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p></p>
            </div>
          </div>

        </div>

      </div>

    </div>
