
<link href="/css/cover.css" rel="stylesheet">

<% content_for :title do %>
  Home
<% end %>


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">RunPic 路跑照片</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <!-- <li class="active"><a href="#">首頁</a></li> -->
                  <li><%= link_to "所有賽事", contests_path %></li>
                  <li><%= link_to "查詢", search_contests_path %></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="jumbotron">
            <h1 class="cover-heading">Search your photo.</h1>
          </div>

          <div class="inner cover">

            <table class="table">
              <tbody>
                <% @contests = Contest.all.limit(3) %>
                <% @contests.each do |contest| %>
                  <tr>
                    <td><%= link_to(contest.name, contest_path(contest)) %></td>
                    <td><%= contest.place %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to "Check out more", contests_path, class: "btn btn-lg btn-default " %>
          </div>
          
          <div class="mastfoot">
            <div class="inner">
              
            </div>
          </div>

        </div>

      </div>

    </div>
