<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:description" name="description" content="<%= meta_description %>">
  <meta name="Keywords" content="<%= meta_keywords %>">
  <meta name="author" content="<%= meta_author %>">
  
  <meta property="og:title" content="<%= full_title(yield(:title)) %>">
  <meta property="og:url" name="url" content="http://www.runpic.co/">
  <meta property="og:image" name="image" content="http://www.runpic.co/images/runpic.png">
  
  <link rel="SHORTCUT ICON" href="/images/runpic.ico">
  <link rel="alternate" hreflang="zh-Hant" href="http://www.runpic.co/" />

  <title><%= full_title(yield(:title)) %></title>
  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, defer: true %>
  <%= csrf_meta_tags %>
  
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K6GC2B"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K6GC2B');</script>
  <!-- End Google Tag Manager -->
  <style>body,html{width:100%;height:100%}body,h1,h2,h3,h4,h5,h6{font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:700}.topnav{font-size:14px}.lead{font-size:18px;font-weight:400}.intro-header{padding-top:50px;padding-bottom:50px;text-align:center;color:#f8f8f8;background:url(../images/intro-bg.jpg) no-repeat center center;background-size:cover}.intro-message{position:relative;padding-top:20%;padding-bottom:20%}.intro-message > h1{margin:0;text-shadow:2px 2px 3px rgba(0,0,0,0.6);font-size:5em}.intro-divider{width:400px;border-top:1px solid #f8f8f8;border-bottom:1px solid rgba(0,0,0,0.2)}.intro-message > h3{text-shadow:2px 2px 3px rgba(0,0,0,0.6)}@media(max-width:767px){.intro-message{padding-bottom:15%}.intro-message > h1{font-size:3em}ul.intro-social-buttons > li{display:block;margin-bottom:20px;padding:0}ul.intro-social-buttons > li:last-child{margin-bottom:0}.intro-divider{width:100%}}.network-name{text-transform:uppercase;font-size:14px;font-weight:400;letter-spacing:2px}.content-section-a{padding:50px 0;background-color:#f8f8f8}.content-section-b{padding:50px 0;border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7}.section-heading{margin-bottom:30px}.section-heading-spacer{float:left;width:200px;border-top:3px solid #e7e7e7}.banner{padding:100px 0;color:#f8f8f8;background:url(../images/banner-bg.jpg) no-repeat center center;background-size:cover}.banner h2{margin:0;text-shadow:2px 2px 3px rgba(0,0,0,0.6);font-size:3em}.banner ul{margin-bottom:0}.banner-social-buttons{float:right;margin-top:0}@media(max-width:1199px){ul.banner-social-buttons{float:left;margin-top:15px}}@media(max-width:767px){.banner h2{margin:0;text-shadow:2px 2px 3px rgba(0,0,0,0.6);font-size:3em}ul.banner-social-buttons > li{display:block;margin-bottom:20px;padding:0}ul.banner-social-buttons > li:last-child{margin-bottom:0}}footer{padding:50px 0;background-color:#f8f8f8}p.copyright{margin:15px 0 0}
  </style>
  <a name="top"></a>
</head>
<body>
<%# render 'common/top_nav' unless current_page?(root_path) %>

<% content_for :title do %>
  快速找到有你的相片
<% end %>


<a href='#Top'>
<!-- Navigation -->
<%= render 'common/top_nav' %>

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

      <div class="row">
          <div class="col-lg-12">
              <div class="intro-message">
                <h1>Search your photo.</h1>
                <h3>@RunPic 路跑照片</h3>
                <br>
                <!-- <hr class="intro-divider"> -->
                  <ul class="list-inline intro-social-buttons">
                    <% @contests.each do |contest| %>
                      <li>
                        <%= link_to contest_path(contest), class: "btn btn-default btn-lg" do %>
                          <i class="fa fa-search fa-fw"></i> 
                          <span class="network-name"><%= "#{contest.name}" %></span>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                <hr class="intro-divider">
                <%= link_to "Check out more", contests_path, class: "btn btn-lg btn-warning " %>
                <br>
                <span class="label label-success"><%= notice %></span>
                <span class="label label-warning"><%= alert %></span>
              </div>
          </div>
      </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<!-- /.banner -->
<div class="">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">

          </div>
      </div>
  </div>
  <!-- /.container -->
</div>
<!-- Footer -->
<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright text-muted small">Copyright &copy; RunPic路跑照片 2015. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer> -->
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-557949c675304e7f" async="async"></script>
<script>/*!
loadCSS: load a CSS file asynchronously.
[c]2014 @scottjehl, Filament Group, Inc.
Licensed MIT
*/

/* exported loadCSS */
function loadCSS( href, before, media, callback ){
  "use strict";
  // Arguments explained:
  // `href` is the URL for your CSS file.
  // `before` optionally defines the element we'll use as a reference for injecting our <link>
  // By default, `before` uses the first <script> element in the page.
  // However, since the order in which stylesheets are referenced matters, you might need a more specific location in your document.
  // If so, pass a different reference element to the `before` argument and it'll insert before that instead
  // note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
  var ss = window.document.createElement( "link" );
  var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
  var sheets = window.document.styleSheets;
  ss.rel = "stylesheet";
  ss.href = href;
  // temporarily, set media to something non-matching to ensure it'll fetch without blocking render
  ss.media = "only x";
  // DEPRECATED
  if( callback ) {
    ss.onload = callback;
  }

  // inject link
  ref.parentNode.insertBefore( ss, ref );
  // This function sets the link's media back to `all` so that the stylesheet applies once it loads
  // It is designed to poll until document.styleSheets includes the new sheet.
  ss.onloadcssdefined = function( cb ){
    var defined;
    for( var i = 0; i < sheets.length; i++ ){
      if( sheets[ i ].href && sheets[ i ].href === ss.href ){
        defined = true;
      }
    }
    if( defined ){
      cb();
    } else {
      setTimeout(function() {
        ss.onloadcssdefined( cb );
      });
    }
  };
  ss.onloadcssdefined(function() {
    ss.media = media || "all";
  });
  return ss;
}</script>

<script>
  loadCSS('http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic');
  loadCSS('<%= stylesheet_path("application") %>');
</script>

</body>
</html>
